server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: cliente-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/clientes/**

        - id: cuenta-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/cuentas/**
            - Path=/api/movimientos/**

      default-filters:
        - AddResponseHeader=X-Gateway, Spring-Cloud-Gateway
